
services:
  postgres:
    image: postgres:16
    container_name: postgres_container
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "psql -U $POSTGRES_USER -d $POSTGRES_DB -c '\\q'"] 
      interval: 5s
      timeout: 5s
      retries: 3

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: application_container
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    restart: "on-failure:3"

volumes:
  postgres_data:







